<div class="card task">
        <a href="/api/tasks/{{id}}">
            <header>{{description}}</header>
        </a>
        <button class="task-edit">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="task-delete">
            <i class="fa-solid fa-trash"></i>
        </button>
</div>