<div class="row">
    <div class="col-auto">
        <h2>Hello, {{username}}!</h2>
    </div>
</div>
{{#each tasks as |task|}}
    {{> task-details}}
{{/each}}
<div class="row ">
    <h3>Create a new task</h3>

    <form class="form new-task-form">
        <div class="form-group">
            <label for="task-name">task name:</label>
            <input class="form-input" type="text" id="task-name" name="task-name" />
        </div>

    </form>

</div>