<div class="card todolist">
    <div class="card-head">
            <header>Tasklist: {{tasklists.name}}</header>
    </div>
    <div class="card-body">
        {{#each tasklists.tasks as |task|}}
        {{> task-details}}
        {{/each}}
    </div>

</div>