{{> tasklist-details tasklists}}
{{!-- <div class="card todolist">
    <div class="card-head">
        <header>{{tasklists.name}}</header>
        <button class="tasklist-edit">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="tasklist-delete">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <div class="card-body">
        {{#each tasklists.tasks as |task|}}
        {{> task-details}}
        {{/each}}
    </div>

</div> --}}
